footer {
    height: 80px;
}

body {
    height: 80%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.fakeimg {
    height: 200px;
    background: #aaa;
}

.crawl-data {
    margin-bottom: 120px;
}